<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Points des clubs</title>
</head>
<body>
    <h1>Tableau des points des clubs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom du club</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
